[phases.setup]
nixPkgs = ["nodejs_20"]

[phases.install]
cmds = ["npm ci --legacy-peer-deps --ignore-optional || npm install --legacy-peer-deps --ignore-optional"]

[phases.build]
cmds = ["npm run build"]

[start]
cmd = "npm start"

